<template>
      <div>
        Importer un premier fichier jar :
      </div>
      <div>
        <input type="file" @change="uploadFile" ref="file">
        <button @click="submitFile">Upload!</button>
      </div>
      <div>
        Importer un second fichier jar :
      </div>
      <div>
        <input type="file" @change="uploadFile" ref="file">
        <button @click="submitFile">Upload!</button>
      </div>
      </template>

<script src="./_vue.js" lang="js">
</script>
<style src="./_vue.less" lang="less" scoped></style>
